.modal {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
	position:fixed;
	background: white;
	width: 80%;
	height: 90%;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);

	
  }
  .buttons{
	  display: flex;
    flex-direction: row;
    margin-left: 70%;
  }
  .modal-header{

	height: 10%;
	width:100%;
	position: relative;
	background: #4079ce;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #fff;
}
.email{
	margin-top:5px;
	
}
  .close{
	  height: 5%;
    width: 10%;
    position: relative;
	  margin-left: 5px;
    background: rgba(237, 23, 75, 0.8);
    border-radius: 7px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
  }

  .proceed{
	 height: 5%;
    width: 10%;
    position: relative;
	  margin-left: 75%;
    background: rgba(110, 189, 66, 0.8);
    border-radius: 7px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
  
  }
  .proceednew{
    height: 5%;
    width: 30%;
    position: relative;
	  margin-left: 65%;
    background: rgba(110, 189, 66, 0.8);
    border-radius: 7px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;

  }
  .display-block {
	display: block;
  }
  
  .display-none {
	display: none;
  }